body {
    background-color: #F3F3F3;
    font-family: "Roboto";
    height: 100vh;
    
}

header {
    height: 80px;
    background-color: #FFFF;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

header img {
    width: 75px;
    height: 53px;
}

header ion-icon {
    font-size: 40px;
}

.login {
    width: 100%;
    height: 100vh;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

div.login img {
    
    width: 130px;
    height: 92px;
}

div.login div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 200px;
}

div.login div input {
    width: 80%;
    height: 54px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    margin-bottom: 15px;
    
    padding: 0 8px;
    
}

div.login div input::placeholder {
    color: #AEAEAE;
    
}

div.login div input:focus {
    text-align: start;
    outline: none;
}

div.login div input:focus::placeholder {
    color: #FFF;
}

div.login div button {
    border: none;
    background-color: #E7E7E7;
    color: #696969;
    width: 25%;
    min-width: 100px;
    height: 45px;
    border-radius: 4px;
}

div.login div button:focus {
    outline: none;
}

div.login .image {
    width: 100%;
    background-color: #696969;
}

div.login .image>img {
    height: 150px;
    width: 150px;
}

main {
    padding-top: 80px;
    height: 100%;
}

main ul {
    overflow-y: scroll;
    height: calc(100vh - 160px);
}

main .chat {
    margin: 4px 0;
    font-size: 14px;
    padding: 8px;
    background-color: #FFF;
    border-radius: 2px;
}

main .chat.notification {
    background-color: #DCDCDC;
}

main .chat.private {
    background-color: #FFDEDE ;
}

main .chat span.time {
    color: #AAA;
}

main .chat span.name {
    font-weight: bold ;
}


nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 100vw;
    background-color: rgba(0,0,0,0);
    z-index: 2;
    display: flex;
    flex-direction: row-reverse;
    transition: background-color 0.7s cubic-bezier(0.11, 0, 0.5, 0), left 0.3s cubic-bezier(0.5, 1, 0.89, 1);
    
}

nav .sidebar {
    width: 75%;
    height: 100vh;
    position: relative;
    background-color: #FFF;
}

nav .sidebar ion-icon.toggle {
    font-size: 48px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #000;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
    border-radius: 50%;
    width: 44px;
}

nav .sidebar.slide_sidebar {

}

nav .sidebar h1, h2 {
    font-size: 16px;
    font-weight: bold;
    padding: 28px 50px;
    line-height: 18.75px;
    text-align: center;
}

nav .sidebar ul {
    padding: 0 16px;
}

nav .sidebar ul li, nav .sidebar div {
    height: 36px;
    display: flex;
    align-items: center;
}

nav .sidebar div {
    padding: 0 16px;
}

nav .sidebar ul li ion-icon, nav .sidebar div ion-icon {
    font-size: 24px;
    margin-right: 8px;
}

nav.display_sidebar {
    left: 0;
    background-color: rgba(0,0,0,0.6);
}

footer {
    height: 80px;
    width: 100%;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 -4px 6px rgba(0,0,0,0.05);
}

footer input {
    height: inherit;
    width: 100%;
    border: none;
    font-size: 18px;
    padding-left: 17px;
}

footer input:focus {
    outline: none;
}

footer input::placeholder {
    color: #000;
    font-style: italic;
}

footer ion-icon {
    margin: 0 18px;
    font-size: 32px;
}

.hidden {
    display: none;
}

